@import "tailwindcss";

@font-face {
  font-family: "SergioUI";
  src: url("./fonts/SergioUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AnthonyGilford";
  src: url("./fonts/AnthonyGilford.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-SergioUI {
    font-family: "SergioUI", sans-serif;
  }
  .font-AnthonyGilford {
    font-family: "AnthonyGilford", sans-serif;
  }
}
