
/* Fonts */
@font-face {
    font-family: 'Anthony Gilford';
    src: url('fonts/AnthonyGilford.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Intro styling */

/* To move the entire intro container EXCLUDE IMAGE */
.intro {
    position: absolute;
    top: 190px;
    left: 500px;
    max-width: 900px;
}
/* To move the image */
.profile-img {
    position: absolute;
    top: 100px;
    left: -80px;
    width: 700px;
    height: 650px;
}

.intro-section {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    transform: translateY(100px);
    transition: transform 1.2s;
}

.intro-section.visible {
    transform: translateY(0);
}

body {
    background: url('img/intro-bg.png') repeat;
    background-size: auto;
}

.intro-section-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}


hr {
    position: relative;
    left: -90px;
    width: 1000px; /* Set to your desired length */
    border: 1px solid #000; /* Optional: set line thickness and color */
}

.name {
    font-family: 'Anthony Gilford',sans-serif;
    font-size: 4em;
    position: absolute;
    top: -50px;
    left: 90px;
}

#Dev {
    position: relative;
    left: 50px;
}
#intro-text {
    position: relative;
    left: -80px;
    top: 0px;
    font-size: 1.3em;
}

#Photo {
    position: relative;
    left: 100px;
}

.description {
    margin: 1em 0;
}
.buttons button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    cursor: pointer;
    font-size: 1em;
}
.social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.3em; /* Adds space between icons */
    position: relative;
    left: 780px;
    top: -180px;
}
.social-icons img {
    width: 36px;
    height: 30px;
}