@import "tailwindcss";

/* Fonts */
@font-face {
    font-family: 'Anthony Gilford';
    src: url('fonts/AnthonyGilford.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


    .social-icons img {
        width: 48px; /* Increased icon size */
        height: 40px;
    }
